/* site.css */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic);

body {
  font: 400 11.5pt 'Source Sans Pro', Helvetica,Arial,sans-serif;
}

html,body,.container,.overall-container
{
  position: relative;
  height: auto;
}

.container {
  padding: 0;
}

.inner-container {
    padding-top: 70px;
}

.dashboard, .row, .ic-column, body, .container,.overall-container,.container-fluid {
    position: relative;
}

body.double-top-nav .overall-container {
    padding-top: 120px;
}

footer {
    height: 400px;
    display: block;
}

.ic-navbar-top .object-type {
  color: #48cbeb;
}

.ic-navbar-top .nav > li {
  float: left;
}

.ic-navbar-top .container .navbar-header {
  float: left;
  margin: 0 15px 0 0;
}
.ic-navbar-top .container .navbar-brand {
  line-height: 15px;
  margin-left: 15px;
}
.ic-navbar-top .navbar-brand img {
  margin: -15px;
}

.ic-navbar-top .navbar-form {
  border: 0 none;
  margin: 0;
  padding: 10px;
}

@media(max-width:767px) {
  #searchform-query {
    width: 120px;
  }
}

.ic-masthead {
  margin: -15px -15px 10px -15px;
}

.ic-object-previous {
  font-size: .9em;
  margin: -19px -19px 15px -19px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 5px;
  background-color: rgba(255,255,255,.7);
}

.ic-object-menu {
  margin: 15px -19px -19px -19px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  background-color: rgba(255,255,255,.7);
}
.ic-object-menu ul,
.ic-object-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ic-object-menu ul {
  display: block;
  clear: both;
}

.ic-object-menu li {
  font-size: .9em;
  float: left;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.ic-object-menu li a {
  padding: 5px;
  display: block;
}


.ic-object-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, .9);
}


.ic-object-menu.columns-1 li {
  width: 100%;
}

.ic-object-menu.columns-2 li,
.ic-object-menu.columns-4 li {
  width: 50%;
}

.ic-object-menu.columns-3 li,
.ic-object-menu.columns-5 li {
  width: 33%;
}
.ic-object-menu.columns-4 li.item-1,
.ic-object-menu.columns-4 li.item-2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.ic-object-menu.columns-1 li.item-1,
.ic-object-menu.columns-2 li.item-2,
.ic-object-menu.columns-3 li.item-3,
.ic-object-menu.columns-4 li.item-2,
.ic-object-menu.columns-4 li.item-4 {
  border-right: none;
}

.ic-masthead .ic-object-header {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.ic-masthead .ic-object-header a.label {
  font-size: .7em;
  margin: 4px auto;
  display: block;
  width: 30%;
}

.scroll-mark {
	padding-top: 70px;
	margin-top: -70px;
  height: 0px;
  visibility: hidden;
}

.container-fluid .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: 1300px;
}

.container-fluid {
  max-width: 1300px;
}

.navbar-fixed-top.sub-navbar {
  margin-top: 50px;
}

.navbar-header .breadcrumb {
  background-color: transparent;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 15px;
  margin: 0;
}

.ic-sidenav {
    width: 165px;
}

.ic-sidenav.affix,
.ic-sidebar.affix {
    position: fixed;
}

.ic-sidebar .ic-column,
.ic-sidenav .ic-column {
  float: none;
}

.ic-sidebar.affix-bottom,
.ic-sidenav.affix-bottom {
    position: absolute;
}

.ic-sidenav .nav {
    display: block;
}


/* Affixed Sidebar */
.ic-sidebar {
    width: 358px;
    margin: 0;
    padding: 0;
}


@media (max-width: 992px) {
    .ic-sidebar,
    .ic-sidebar.affix,
    .ic-sidebar.affix-bottom,
    .ic-sidebar.affix-top {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      top: auto;
      left: auto;
    }
}

@media (min-width: 992px) {
    .ic-sidebar .nav > .active > ul {
        display: block;
    }
}
@media (max-width: 1200px) {
  .ic-sidenav {
      width: 132px;
  }
  .ic-sidebar {
      width: 291px;
  }

}

/* objectBrowse */
.object-browse {
  height: 200px;
  border: 1px solid #CCCCCC;
  border-top-width: 0;
  overflow: hidden;
}
.object-browse .section {
  overflow-y: scroll;
  height: 200px;
  width: 300px;
  float: left;
  display: block;
  border-right: 1px solid #CCCCCC;
  position: relative;
}
.object-browse .list-group-item .glyphicon {
  float: right;
}

.object-browse .section .canvas {
  margin: 5px 20px;
}

.object-browse .type-chooser {
}

.object-browse .parent-chooser {
}

.object-browse .object-chooser {
  border-right: none;
}

.ic-access-list .btn {
  margin-top: 3px;
}

.ic-access-list .alert {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 0;
}

.access-role-menu {
  margin-top: 10px;
  padding-bottom: 1px;
}

.access-role-menu > ul {
  float: right;
  width: 80%;
  min-width: 240px;
}

.access-search-input {
  width: 100%;
  font-size: 1.1em;
  height: auto;
  padding: 10px;
  margin-top: 5px;
}

/* Hack for Typeahead */
.twitter-typeahead {
  display: block;
  display: block!important;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-hint {
  display: none;
}
.tt-dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 300px;
  overflow-y: auto;
}

.tt-suggestion {
  display: block;
  padding: 0;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tt-suggestion:last-child {
  border-bottom: none;
}

/* Search */
.ic-search-result, 
.ic-search-result:hover {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.tt-cursor .ic-search-result {
  background-color: rgba(0, 0, 0, .1);
}

.ic-search-empty {
  padding: 5px;
}

.ic-search-result .ic-search-header {
  font-size: 1.1em;
  font-weight: 600;
  margin: 1px;
}
.ic-search-result .ic-search-sub {
  font-size: .9em;
}

.ic-search-result .ic-search-icon {
  float: left;
  font-size: 1.1em;
  margin-right: 5px;
}