
/* relationship */
.relationship-object-canvas {
  padding: 10px 5px;
}
.relationship-object-canvas .panel-body .relationship-object-selected {
  text-align: center;
}

.relationship-object {
  border: 1px solid rgba(0, 0, 0, .15);
  margin: 0 auto;
  padding: 5px;
}

.relationship-object .btn, 
.relationship-object-selected .btn {
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  width: 100px;
}

.relationship-object-fields {
  border: 1px solid rgba(0, 0, 0, .15);
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

.relationship-field {
  text-align: center;
}

.relationship-object-fields-alone {
  padding: 5px 0;
}

.relationship-object-fields-alone .relationship-field {
  text-align: left;
}


.relationship-object-descriptor {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
}

.relationship-object-subdescriptor {
  text-align: center;
  font-weight: 400;
  font-size: 1em;
}

.relationship-object-separator {
  border-right: 1px solid rgba(0, 0, 0, .2);
  margin: 0 auto;
  width: 1px;
  height: 20px;
}

.relationship-date-separator {
  padding: 5px;
  font-style: italic;
}